html{
    box-sizing: border-box;
    /* font-size: 62.5%; */
}


.codoacodo{
    width: 5em;
    height: 3em;
}



@media screen and (max-width:320px) {
   .codoacodo{
        font-size: .7em;
   }
   .letradellogo{
        font-size: .8em;
   }
  

}
   
   

@media screen and (min-width: 320px) and (max-width: 768px) {
    .imagenfondocontexto{
       
        height: 100vh;
        
    } 
   
  }
