html{
    box-sizing: border-box;
    /* font-size: 62.5%; */
    overflow-x: hidden;
}


.codoacodo{
    width: 5em;
    height: 3em;
}


.parteimagen.col{
    padding: 0px;
}

.partetexto.col.text-bg-secondary.p-3{
    padding: 0px;
} 
.imagencontexto.row{

}

.imagenytexto{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width:320px) {
   .codoacodo{
        font-size: .7em;
   }
   .letradellogo{
        font-size: .8em;
   }
  

}
   
   

@media screen and (min-width: 320px) and (max-width: 768px) {
    .imagenfondocontexto{
       
        height: 100vh;
        
    } 
   
  }
